**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/.DS_Store
**/node_modules
*.md
!README.md
**/.env
**/.env.*
**/secrets.json
**/*.user
**/*.suo
**/.dockerignore
**/Dockerfile*
**/.editorconfig
**/docker-compose*
**/*.Development.json
**/launchSettings.json

